<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tournament?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">phpmyadmin</property>
    <property name="hibernate.connection.password">fuck</property>
    <!--Diffenetly wasn't feeling good when I was installing phpmyadmin in my linux system-->
    <property name="show_sql">true</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping resource="beans/Tournament.hbm.xml"/>
    <mapping resource="beans/Auth.hbm.xml"/>
    <mapping resource="beans/Match.hbm.xml"/>
    <mapping resource="beans/Teammates.hbm.xml"/>
    <mapping resource="beans/UserAcc.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
